.category-container {
  display: flex;
  flex-wrap: wrap;
}

.example-card {
  max-width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btns {
  padding: 5px;
  display: flex;
  justify-content: space-between;

  &-basket {
    background-color: yellowgreen;
    color: #fff;
  }
}

.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;

  &-val {
    font-size: 18px;
    font-weight: 500;
    color: #6b9517;
  }
}
