<div class="category-container">
  <mat-card
    *ngFor="let car of cars"
    class="example-card">
    <mat-card-header>
      <mat-card-title>{{ car.brand }}</mat-card-title>
      <mat-card-subtitle>{{ car.model }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="car">
    <mat-card-content>
      <p>{{ car.description }}</p>
    </mat-card-content>
    <div class="price">
      <span class="price-val">{{ car.year | year }}</span>
      <span class="price-val">{{ car.price | currency }}</span>
    </div>
    <mat-card-actions class="btns">
      <button
        mat-raised-button
        class="btns-basket">
        Add to basket
      </button>
      <button
        mat-raised-button
        (click)="redirectToCar(car.id)"
        color="primary">
        Details
      </button>
    </mat-card-actions>
  </mat-card>
</div>
