.example-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 60px;
}

.content {
  position: relative;

  .mat-drawer-inner-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

.side-nav-container {
  width: 200px;
  background-color: #4F52BA;
}




