.car-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  max-width: 600px;
}

.btns-basket {
  width: 100%;
  background-color: yellowgreen;
  color: #fff;
}


.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;

  &-val {
    font-size: 18px;
    font-weight: 500;
    color: #6b9517;
  }
}
