.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(97, 100, 193, 0.71);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.form-field {
  background: none;
  width: 100%;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
