<div class="container">
  <mat-list role="list">
    <mat-list-item
      class="list-item"
      role="listitem"
      routerLinkActive="active-link"
      routerLink="/category"
    >
      All cars
    </mat-list-item>

    <mat-list-item
      class="list-item"
      role="listitem"
      routerLinkActive="active-link"
      routerLink="/category"
      [queryParams]="{ available: true }"
    >
      Available cars
    </mat-list-item>

    <mat-list-item
      class="list-item"
      role="listitem"
      routerLinkActive="active-link"
      routerLink="/category"
      [queryParams]="{ available: false }"
    >
      Not available cars
    </mat-list-item>

    <mat-list-item
      *ngFor="let brand of brands | async"
      class="list-item"
      role="listitem"
      routerLinkActive="active-link"
      routerLink="/category"
      [queryParams]="{ brand: brand }"
      >
      {{ brand }}
    </mat-list-item>
  </mat-list>
</div>
