.container {
  width: 100%;

}

.list-item {
  width: 100%;
  text-align: center;
  transition: .3s all;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  padding-left: 20px !important;

  &:hover {
    color: #F2B33F;
  }
}

.active-link {
  color: #F2B33F;
}
